.App {
  text-align: center;
  margin: 50px auto;
  width: 30vw;
}

.App span {
  display: block;
  color: #ffffff;
}

.App span.info {
  color: #000000;
}

.balanced {
  background-color: #005320;
}

.not-balanced {
  background-color: #680009;
}